{% extends "base.html" %}

{% block content %}
<h3 class="title">Create New Category</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('catalog.cat_add') }}">
            <div class="field">
                <div class="control">
                    <label for="title">New category name</label>
                    <input class="input is-large" name="title" placeholder="Enter new category name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="title">New category description</label>
                    <input class="input is-large" name="description" placeholder="Enter new category description">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Add</button>
        </form>
    </div>
{% endblock %}